
.main-footer{
    width: 100vw;
    min-height: 5rem;
    background:var(--form-bg) !important;
    margin-top: auto;
    padding: 30px 0px;
}
.main-footer .container .wrapper .footer-left-section{
    width: 100%;
    padding: 0px 20px 0px 0px;
}
.main-footer .container .wrapper .footer-left-section h3{
    font-size: var(--font-size20);
}
.main-footer .container .wrapper .footer-left-section p{
  color: var(--para-tint-h4);
  font-size: var(--font-size15);
  word-spacing: 1px;
}
.main-footer .container .wrapper .footer-left-section p a{
  color: var(--para-tint-h4);
  text-transform: capitalize;
}
.main-footer .container .wrapper .footer-left-section .more-network .li-adjust{
    gap: 0px 20px;
}

.main-footer .container .wrapper .footer-left-section .more-network .li-adjust li{
    width:max-content;
}
.main-footer .container .wrapper .footer-left-section .more-network .li-adjust li a{
    font-size: var(--font-size16);
    color: var(--para-tint-h4);
}
.main-footer .container .wrapper .footer-left-section .social-media{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.main-footer .container .wrapper .footer-left-section .social-media .google-appstore{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
:is(.playstore , .appstore){
    width: 100%;
    max-width: 100px;
} 
.playstore{
    margin-right: 10px;
}
.playstore img{
    min-height: 110px;
}                   

.main-footer .container .wrapper .footer-left-section .social-media .social-media-links{
    width: 300px;
    height: auto;
    padding-top: 20px;
}
.main-footer .container .wrapper .footer-left-section .social-media .social-media-links ul{
    display: flex;
    gap: 0px 6px;
}
.main-footer .container .wrapper .footer-left-section .social-media .social-media-links ul li a{
    /* background:url("../IMAGES/ICON/images/option_03.png") no-repeat; */
    width: 45px;
    height: 46px;
    float: left;
    transition: 0.5s ease-in-out;
}

.main-footer .container .wrapper .footer-left-section .social-media .social-media-links ul li:nth-child(1) a{
    background: url("../IMAGES/ICON/facebook-rks.png") no-repeat;
}

.main-footer .container .wrapper .footer-left-section .social-media .social-media-links ul li:nth-child(2) a{
    background: url("../IMAGES/ICON/youtube-rks.png") no-repeat;
}

.main-footer .container .wrapper .footer-left-section .social-media .social-media-links ul li:nth-child(3) a{
    background: url("../IMAGES/ICON/twitter-rks.png") no-repeat;
}

.main-footer .container .wrapper .footer-left-section .social-media .social-media-links ul li:nth-child(4) a{
    background: url("../IMAGES/ICON/linkedin-rks.png") no-repeat;
}

.main-footer .container .wrapper .footer-left-section .social-media .social-media-links ul li:nth-child(5) a{
    background: url("../IMAGES/ICON/instagram-rks.png") no-repeat;
}
.main-footer .container .wrapper .footer-right-section{
    /* width: 100%; */
    padding: 0px 20px 70px 0px;

}
.main-footer .container .wrapper .footer-right-section .prop-margin{
    margin-bottom: 20px;
}
.main-footer .container .wrapper .footer-right-section .prop-india h3{
    font-size: var(--font-size20);
}
.main-footer .container .wrapper .footer-right-section .prop-india ul li span a{
    font-size: var(--font-size16);
    color: var(--para-tint-h4);
}
/* ************main-footer is ENDED ************** */
/* *******bottom-footer is STARTED*************** */
.bottom-footer{
    background: var(--softpink);
    padding: 20px 0px;
}
.bottom-footer .container .wrapper{
    gap: 0px 20px;
}
.bottom-footer .container .wrapper ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0;
    width: 100%;
}
.bottom-footer .container .wrapper ul li{
    padding: 0px 10px 0px 0px;
}
.bottom-footer .container .wrapper ul li a{
    font-size: var(--font-size18);
    color: var(--li-color);
    transition: 0.5s ease-in-out;
    text-decoration: none;
    text-transform: capitalize;
}
.bottom-footer .container .wrapper ul li a:hover{
    color: var(--m-hover-button);
}
/* ************bottom-footer is ENDED ************** */
/* ************read-bottom-footer is STARTED ************** */
.read-bottom-footer{
    background: var(--pure-white);
}
.read-bottom-footer  p{
    font-size: var(--font-size13);
    color: var(--para-tint-h4);
}
.read-bottom-footer  a{
    color: var(--para-tint-h4);
}
/* ************read-bottom-footer is ENDED ************** */

/* ************last-footer is ENDED ************** */

.last-footer{
    background: var(--dark-color);
    color: var(--pure-white);
    padding: 10px 0px;
}
.last-footer p{
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: var(--font-size16);
    line-height: 2;
}


/* *************************responsive-section********************* */
@media(max-width:1199px){
    .main-footer .container .wrapper .footer-left-section h3,
    .main-footer .container .wrapper .footer-right-section .prop-india h3 {
        font-size: var(--font-size24);
    }
    .main-footer .container .wrapper .footer-right-section .prop-india ul li span a,
    .main-footer .container .wrapper .footer-left-section .more-network .li-adjust li a,
    .main-footer .container .wrapper .footer-left-section p{
        font-size: var(--font-size20);
    }
    .bottom-footer .container .wrapper ul li{
        line-height: 1.7;
    }
    .five-grid-template-column{
        grid-template-columns: 0 !important;
    }
   
}
@media(max-width:1024px){
    .main-footer .container .wrapper .footer-left-section h3, .main-footer .container .wrapper .footer-right-section .prop-india h3{
        font-size: var(--font-size22);
    }
    .main-footer .container .wrapper .footer-right-section .prop-india ul li span a, .main-footer .container .wrapper .footer-left-section .more-network .li-adjust li a, .main-footer .container .wrapper .footer-left-section p{
        font-size: var(--font-size18);
    }
}
@media(max-width:992px){
    .main-footer .container .wrapper .footer-right-section .prop-india ul li span a, .main-footer .container .wrapper .footer-left-section .more-network .li-adjust li a, .main-footer .container .wrapper .footer-left-section p{
        line-height: 1.4;
    }
    .main-footer .container .wrapper .footer-left-section .social-media{
        justify-content: center;
        gap: 0px 20px;
    }
}
@media(max-width:768px){
    .main-footer .container .wrapper{
        flex-wrap: wrap;
    }
}
@media(max-width:576px){
    .main-footer{
        /* padding: 15px 0px; */
    }
    .main-footer .container .wrapper .footer-right-section .prop-india ul li span a,
    .main-footer .container .wrapper .footer-left-section .more-network .li-adjust li a,
    .main-footer .container .wrapper .footer-left-section p{
        font-size: var(--font-size18);
    }
    .main-footer .container .wrapper .footer-left-section h3{
        font-size: var(--font-size24);
        padding-bottom: 4px;
    }
    
    .main-footer .container .wrapper .footer-left-section .social-media .social-media-links ul{
        gap: 0px 20px;
    }
}
@media(max-width:480px){
    .main-footer .container .wrapper .footer-left-section h3, .main-footer .container .wrapper .footer-right-section .prop-india h3{
        font-size: var(--font-size20);
    }
    .main-footer .container .wrapper .footer-right-section .prop-india ul li span a,
    .main-footer .container .wrapper .footer-left-section .more-network .li-adjust li a,
    .main-footer .container .wrapper .footer-left-section p{
        font-size: var(--font-size14);
    }
    .bottom-footer .container .wrapper ul li a{
        font-size: var(--font-size14);
    }
    .last-footer p{
        font-size: var(--font-size12);
    }
    
    .main-footer .container .wrapper .footer-left-section .social-media .social-media-links ul{
        gap: 0px 20px;
        flex-wrap: wrap;

    }
}




