@media(max-width:1200px){
    .main-footer .container .wrapper .footer-left-section h3,
    .main-footer .container .wrapper .footer-right-section .prop-india h3 {
        font-size: var(--font-size32);
    }
    .main-footer .container .wrapper .footer-right-section .prop-india ul li span a,
    .main-footer .container .wrapper .footer-left-section .more-network .li-adjust li a,
    .main-footer .container .wrapper .footer-left-section p{
        font-size: var(--font-size24);
       line-height: 2;
    }
    .main-footer .container .wrapper .footer-right-section{
        padding: 0px 20px 314px 0px;
    }
    .bottom-footer .container .wrapper ul{
        justify-content: center;
    }
    .bottom-footer .container .wrapper ul li{
        line-height: 2;
    }
    .five-grid-template-column{
        grid-template-columns: 0 !important;
    }
   
}
@media(max-width:992px){
    .read-bottom-footer p{
        font-size: var(--font-size16);
    }
}
@media(max-width:768px){
    .main-footer .container .wrapper .footer-left-section,
    .main-footer .container .wrapper .footer-right-section{
        padding: 0px;
    }
    .main-footer .container .wrapper{
        flex-wrap: wrap;
    }
    .main-footer .container .wrapper .footer-left-section .social-media .social-media-links{
        padding: 0px;
        width: 100%;
    }
}
@media(max-width:576px){
    .main-footer{
        padding: 15px 0px;
    }
    .main-footer .container .wrapper .footer-right-section .prop-india ul li span a,
    .main-footer .container .wrapper .footer-left-section .more-network .li-adjust li a,
    .main-footer .container .wrapper .footer-left-section p{
        font-size: var(--font-size18);
    }
    .main-footer .container .wrapper .footer-left-section h3{
        font-size: var(--font-size24);
        padding-bottom: 4px;
    }
    
    .main-footer .container .wrapper .footer-left-section .social-media .social-media-links ul{
        gap: 0px 40px;
    }
}
@media(max-width:480px){
    .main-footer .container .wrapper .footer-left-section h3, .main-footer .container .wrapper .footer-right-section .prop-india h3{
        font-size: var(--font-size24);
    }
    .main-footer .container .wrapper .footer-right-section .prop-india ul li span a,
    .main-footer .container .wrapper .footer-left-section .more-network .li-adjust li a,
    .main-footer .container .wrapper .footer-left-section p{
        font-size: var(--font-size16);
    }
    .bottom-footer .container .wrapper ul li a{
        font-size: var(--font-size16);
    }
    .last-footer p{
        font-size: var(--font-size14);
    }
    
    .main-footer .container .wrapper .footer-left-section .social-media .social-media-links ul{
        gap: 0px 20px;
        flex-wrap: wrap;

    }
}


