/* top-,ain-header-section */
.top-header-section {
    position: fixed;
    top: 0;
    left: 0;
    /* height: 50px; */
    height: 64px;
    background:var(--heading-support);
    box-shadow:var(--box-shadow) ;
    border-radius: 4px;
    width: 100vw;
    z-index: 80;
}
.gradient-support-bar{
   width: 100%;
	height: 64px;
	float: left;
   background: var(--gradient-support); 
	animation: movement linear 2s infinite;
	background-size: 200% 200%;
}
@keyframes movement {
   0%{
    background-position: 20% 0%
}

  20%{
    background-position: 40% 60%
}

  40%{
    background-position: 60% 20%
}

  60%{
    background-position: 40% 80%
}

  80%{
    background-position: 20% 70%
}

}
.scroll {
   background: var(--red-main);
   /* background: blue; */

 }
.wrapper{
   display:flex;
   justify-content:space-between;
   align-items:center;
}
/* .top-header-section .container .wrapper{
   height: 50px;
} */

/* top header left sec is starte */
.top-header-section .container .wrapper .top-header-left{
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  gap: 0px 20px;
}
/* logo section is going to be startd */
.top-header-section .container .wrapper .top-header-left .logo{
   display: block;
   transition:0.5s ease-in-out;
   padding-left: 12px;
}
.top-header-section .container .wrapper .top-header-left .logo a img{
   max-width: 222PX;
   width: 100%;
   min-height: 80px;
   height: 50px;
   transition: 0.5s ease-in-out;
}
.top-header-section .container .wrapper .top-header-left .logo a img:hover{
   transform: translateX(10px);
}

/* logo part is over */

 /* drop settinfg started */
 .top-header-section .container .wrapper .top-header-left .select_box .hasDropdown + .dropBox .drop-setting {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
 }
 
 .top-header-section .container .wrapper .top-header-left .select_box .hasDropdown + .dropBox .drop-setting  .sub-pattern{
    padding-top: 3px;
    line-height: 2;
 }



/* international part is stared */
.top-header-section .container .wrapper .top-header-left .select_box .hasDropdown + .dropBox .drop-setting .global{
    box-shadow: #0000003d 0px 3px 8px;
    width: 100%;
    max-width: 205px;
    padding: 8px 10px;
    height: calc(100vh - 11vh);
    border-bottom-right-radius: 12px;
 }

 .top-header-section .container .wrapper .top-header-left .select_box .hasDropdown + .dropBox .drop-setting .global .global-formation ul {
   margin-bottom: 0px;
 }
 .top-header-section .container .wrapper .top-header-left .select_box .hasDropdown + .dropBox .drop-setting .global .global-formation ul li{
   line-height: var(--line-height36);
 }
 .top-header-section .container .wrapper .top-header-left .select_box .hasDropdown + .dropBox .drop-setting .global .global-formation ul li img{
   max-width: 36px;
 }
 .top-header-section .container .wrapper .top-header-left .select_box .hasDropdown + .dropBox .drop-setting .global .global-formation ul li a{
    font-size: var(--font-size16);
    line-height: var(--line-height24);
    text-decoration: none;
    color: var(--para-tint-h4);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    padding-left: 10px;
 }
 .top-header-section .container .wrapper .top-header-left .select_box .hasDropdown + .dropBox .drop-setting .global .global-formation ul li a:hover,
 .top-header-section .container .wrapper .top-header-left .select_box .hasDropdown + .dropBox .drop-setting .global .global-formation ul li a:visited {
    color: var(--button);
 }
/* top-left-header part is ended  */

/* top-right-header part is started HERE....... */
.top-header-section .container .wrapper .top-header-right{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: 0px 10px;

}
.top-header-section .container .wrapper .top-header-right .smartdeal .select_box{
   max-width: 320px;
}
.top-header-section .container .wrapper .top-header-right .select_box .selected-person{
   position: relative;
}
.top-header-section .container .wrapper .top-header-right .select_box .selected-person + .dropBoxAnother{
   position: absolute;
   display: none;
   opacity: 0;
   visibility: hidden;
   box-shadow: var(--box-shadow);
   top: 56px;
   left: 60%;
   z-index: 4;
   background:url("../IMAGES/logo/top-header.jpg");
   background-size: 100% 100%;
   border-radius: 18px;
   width: 100%;
   transition:0.5s ease-in-out;
   min-height: 220px;
   max-width: 330px;
}
.top-header-section .container .wrapper .top-header-right .select_box:hover .selected-person + .dropBoxAnother{
   display: block;
   opacity: 1;
   visibility: visible;
}
.top-header-section .container .wrapper .top-header-right .select_box .selected-person + .dropBoxAnother .btn-abs{
   top: 178px;
   left: 99px;
   position: absolute;
   padding: 4px 8px !important;
   max-width: 120px;
}


.top-header-section .container .wrapper .top-header-right .select_box .selected-person + .dropBoxAnother::before{
   content: '';
   background: url("../IMAGES/logo/top-header.jpg")no-repeat;
   background-size: 100% 100%;
   position: absolute;
   z-index: 6;
   top: 55px;
}
.top-header-section .container .wrapper .top-header-right .select_box .login-bar{
   position: relative;
}
.top-header-section .container .wrapper .top-header-right .login .select_box .login-bar + .login-popup{
   position: absolute;
   width: 100%;
   height: calc(100vh - 38vh);
   max-width: 300px;
   top: 56px;
   display: block;
   visibility: hidden;
   opacity: 0;
   right: 10%;
   transition:0.5s ease-in-out;
   padding: 12px 14px;
   background: var(--pure-white);
   box-shadow: var(--box-shadow);
}
.top-header-section .container .wrapper .top-header-right .login .select_box:hover .login-bar + .login-popup{
   opacity: 1;
   visibility: visible;
}

.top-header-section .container .wrapper .top-header-right .login .select_box .login-bar + .login-popup .activity-border{
   font-size: var(--montserrat-regular-400-para);
   text-transform: capitalize;
   position: relative;
   color: var(--para-tint-h4);
}
.top-header-section .container .wrapper .top-header-right .login .select_box .login-bar + .login-popup .activity-border::after{
   content: '';
   width: 160px;
   margin: 0 auto;
   text-align: center;
   background: var(--para-tint-h4);
   height: 1px;
   position: absolute;
   top: 50%;
   left: 122%;
}
.top-header-section .container .wrapper .top-header-right .login .select_box .login-bar + .login-popup .btn-center{
   margin: 6px auto 3px;
   text-align: center;
   line-height: 1;
}
.top-header-section .container .wrapper .top-header-right .login .select_box .login-bar + .login-popup .signup{
   font-size: var(--font-size14);
   text-align: center;
   line-height: 1;
   color: var(--para-tint-h4);
}
.top-header-section .container .wrapper .top-header-right .login .select_box .login-bar + .login-popup .signup a{
   color: var(--m-hover-button);
   padding-left: 8px;
   padding-bottom: 3px;
}
.top-header-section .container .wrapper .top-header-right .login .select_box .login-bar + .login-popup ul{
   display: flex;
   flex-direction: column;
}
.top-header-section .container .wrapper .top-header-right .login .select_box .login-bar + .login-popup ul li{
   line-height: 2;
}
.top-header-section .container .wrapper .top-header-right .login .select_box .login-bar + .login-popup ul li a{
   font-size: var(--font-size16);
   text-transform: capitalize;
   color: var(--para-shade);
   transition:0.5s ease-in-out;
   text-decoration: none;
}
.top-header-section .container .wrapper .top-header-right .login .select_box .login-bar + .login-popup ul li a:hover,.top-header-section .container .wrapper .top-header-right .login .select_box .login-bar + .login-popup ul li a:visited{
   color: var(--m-hover-button);
}
.top-header-section .container .wrapper .top-header-right .login .select_box .login-bar + .login-popup ul .activity-boder-set{
   background: var(--para-tint-h4);
   width: 200px;
   height: 1px;
   margin: 20px 0px;
}
.top-header-section .container .wrapper .top-header-right .unstoppable .button::after,
.top-header-section .container .wrapper .top-header-right .unstoppable .button::before{
   display: none;
}



/* *****bottom-head-START***** */
.bottom-header-section{
   position: fixed;
   box-shadow:var(--box-shadow);
   background: var(--pure-white);
   width: 100vw;
   top: 64px;
   left: 0;
   height: 50px;
   z-index: 79;
}
.bottom-header-section .container .wrapper{
   height: 60px !important;
}
 .logo a img{
   width: 150px;
}
.bottom-header-section .container .wrapper .menset{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   width: 100%;
}
.bottom-header-section .container .wrapper .menset .menu-main .menu-full-width{
   position: absolute;
    width: 1286px;
    left: -450%;
    padding: 20px 10px 20px 10px;
}
.bottom-header-section .container .wrapper .menset .menu-main .menu-full-width-home{
   left: -222%;
   width: 1286px;

}
.bottom-header-section .container .wrapper .menset .menu-main .menu-full-width-home-buy{
   left: -16px;
}
.bottom-header-section .container .wrapper .menset .menu-main .menu-full-width-home-prop-services{
   left: -100px;
}
.bottom-header-section .container .wrapper .menset .menu-main .menu-full-adjustment{
   padding:20px;
}
.plusminus{
   display: none;
}
@media(max-width:1199px){
   .ui-icon {
      width: 18px !important;
      height: 18px !important;
      transform: scale(1.5) !important;
    }
    .ui-icon-circle-plus{
      transform: scale(1.5) !important;
    }
    .bottomHead {
      position: fixed;
      top: 0;
      left: 0;
      height: 60px;
      background: var(--heading-support);
      box-shadow: var(--box-shadow);
      border-radius: 4px;
      width: 100vw;
      display: flex;
      justify-content: space-between;
      z-index: 80;
      padding: 6px 40px;
  }
  
  .bottomHead .container .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100vw;
      line-height: 60px;
      height: 60px !important;
  }
  
  .bottomHead .container .wrapper .logo {
      flex: 0 0 270%;
  }
  
  .bottomHead .container .wrapper .logo a img {
      width: 220px;
      margin-bottom: 10px;
      float: right;
  }
  
  .bottomHead .container .wrapper .burger {
      position: absolute;
      z-index: 99;
      top: 8px;
      left: 14px;
      background: transparent;
      cursor: pointer;
      border: none;
  }
  .mobile-nav-icon{
      font-size: var(--font-size29) !important;
      padding-left: 20px;
      color: var(--pure-white);
  }
 
  .mobile-nav-icon[name="close-outline"]{
    display: none;
  }
   .load{
      background:var(--para-shade-op);
      /* visibility: hidden; */
  }
  
      .bottomHead .megastar{
      position: relative;
      max-width: 350px;
      width: 100%;
      height: auto;
      z-index: 82;
      top: -56px;
      left: -40px;
      background: var(--pure-white);
      transform: translateX(-110%); 
      transition: 0.5s ease-in-out; 
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
     }
     .bottomHead .megastar.active{ 
      transform: translateX(0%);
      opacity: 1;
      visibility: visible;
      pointer-events: auto; 
      } 
      .mega-menu {
 position: relative;
 background-color:var(--pure-white);
 overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
}

.mega__item + .mega__item {
 margin-top: 23px;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--softpink);
}
.mega__item + .mega__item:nth-child(12) {
  border-bottom: 0;
}
.mega__item + .mega__item:nth-child(13) {
  border-bottom: 0;
}
.badge-wrapper{
  background: var(--red-main);
  color: var(--pure-white);
  padding: 4px 12px;
  font-size: var(--font-size12);
  border-radius: 10px;
  text-transform: capitalize;
  letter-spacing: 1px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  margin-right: 27px;
}
.badge-wrapper:hover{
  background: var(--dark-blue-op);
  color: var(--pure-white);
}
.wrapped-badge{
  margin-right: 45px;
}
.badge-wrap{
  margin-right: 88px;
  padding: 2px 7px;
}


.mega__link {
  color: var(--li-color);
 text-decoration: none !important;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* line-height: 1; */
  transition:0.5s ease-in-out;
  padding: 0px 20px;
  font-size: var(--font-size20);
  width: 100%;
}
.mega__link::after {
  content: '';
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0px;
  background: var(--softpink);
  bottom: 0px;
}
.mega__link:hover {
  color: var(--red-main);
}
.mega__sub {
 position: absolute;
 top: 0;
 right: 0;
 width: 100%;
 height: 100%;
 background-color: currentColor;
 opacity: 0;
 visibility: hidden;
 transition: all 0.35s ease-in-out;
 transform: translateX(100%);
 
 &.is-active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
 }
}
.accordion .btn {
  padding: 0;
  border: 0;
}
.center__div{
  margin-top: 16px;
}
.center__div p a{
font-size: var(--font-size18);
text-decoration: none;
color: var(--li-color);
padding-bottom: 2px;
text-transform: capitalize;
position: relative;
transition: 0.5s ease-in-out;
}
.center__div ul li{
  line-height: 2;
}
.center__div ul li a{
font-size: var(--font-size22);
text-decoration: none;
color: var(--li-color);
padding-bottom: 2px;
text-transform: capitalize;
position: relative;
transition: 0.5s ease-in-out;
}

.center__div ul li a:hover{
  color: var(--red-main);
}
.center__div ul li a span{
  position: absolute;
  top: 0px;
  right: -54px;
}
.signup-section{
  display: flex;
  justify-content: space-between;
}
.signup-section .sign{
  color: var(--dark-color);
  font-size: var(--font-size15);
  letter-spacing: 1px;
}
 .light-color{
  background-color: var(--temp-head-col);
 }
 .img-top-left-head img{
  height: 105px;
  width: 350px !important;
 }
 .logo-section{
  /* margin-top: -5px; */
  padding: 12px 10px;
  height: 50px;
  background: var(--red-main);
 }
.badge-set{
  right: 6px;
  padding: 0px 8px;
  box-sizing: border-box;
  font-size: var(--font-size12);
}
.font_adjust{
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 0px 20px;
  margin-top: 20px;
  font-size: var(--font-size29);
}
.badge__head{
  top: 68% !important;
  right: 50px !important;
}
.ui-icon-plus{
  background-position: -65px -16px;
}
.ui-icon-minus{
  background-position: -65px -16px;
}
/* *******************accordian H4*************************** */
.ui-accordion .ui-accordion-header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: var(--font-size24) !important;
   margin-top: 10px;
   flex-direction: row-reverse;
   margin-bottom: 20px;
   background-color: var(--softpink);
   margin-left:15px;
   border-radius: 16px;
   margin-right: 15px;
   padding: 10px 16px 10px 16px;
   cursor: pointer;
   border: 1px solid var(--pure-white);
   color:var(--dark-color);
   transition: 0.5s ease-in-out;
   text-transform: capitalize;
}
.ui-accordion .ui-accordion-header:hover,
.ui-accordion .ui-accordion-header.active{
   background: var(--dark-blue-op) !important;
   color: var(--pure-white);

}
.ui-accordion .ui-accordion-content{
   padding: 1rem;
   margin-left: 15px;
   margin-right: 15px;
   border-radius: 7px;
}
.accordion__body {
  display: none;
  padding: 1em;
  border: 1px solid #ccc;
  border-top: 0;
   box-sizing: border-box;
}
.accordion__div ul li a{
   font-size: var(--font-size16);
   text-transform: capitalize;
   color: var(--pure-white);
   padding-bottom: 5px;
   position: relative;
   display: flex;
} 
.accordion__body.is-activee {
  display: block;
   background: var(--dark-blue-op) !important;
}
}
@media(max-width:1024px){}
@media(max-width:992px){}
@media(max-width:768px){}
@media(max-width:576px){}
@media(max-width:360px){
   
}


