/* ****************************real__estate__guide modification************************* */
.fresh__prop{
    margin-top: 20px;
}
/* .real__estate__guide .container .wrapper .card .card__block .video__Part{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 0px 20px 0px;
} */
/* .card__block.video__Part .video__sec{
    display: flex !important;
    flex-direction: row;
} */
.real__estate__guide .container .wrapper .card .card__block .video__Part .video__sec .video__sec-img{
    transform: none !important;
}
/* ****************************fresh modification************************* */
.fresh__prop{
    margin-top: 20px;
}
.fresh__prop ul li a{
    font-size: var(--font-size16);
    color:var(--red-main);
    text-decoration: none;
}
/* ****************************trending modification************************* */
.trending__societies{
    margin-top: 20px;
}

/* ****************************counter modification************************* */
.counter__setting{
    margin-top: 20px;
}
.counter__setting .container .wrapper .counter__text {
    width: 100%;
    border: 1px solid var(--temp-head-col);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 0px;
}
.counter__setting .container .wrapper .counter__text h2{
    color: var(--dark-blue-op);
    text-shadow: 0px 0px 2px var(--dark-color);
}

.counter__setting .container .wrapper .counter__text p a{
    color: var(--red-main);
    transition: 0.5s ease-in-out;
    text-transform: capitalize;
}
.counter__setting .container .wrapper .counter__text .counter p{
    margin-bottom: 0px;
}
/* ****************************jumbo modification************************* */
.jumbo{
    margin-top: 20px;
}
.jumbo .container .wrapper .jumbo__box{
    background-color: var(--softpink);
    border-radius: 16px;
    padding: 22px;
    border: 1px solid var(--pure-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.jumbo .container .wrapper .jumbo__box h2,
.jumbo .container .wrapper .jumbo__box h5 {
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-color);
    letter-spacing: 1px;
    text-transform: capitalize;
}
.jumbo .container .wrapper .jumbo__box h2 {
    font-size:var(--font-size36);
}
.jumbo .container .wrapper .jumbo__box h2 span {
    font-family: 'Damion', cursive;
    font-size: var(--font-size36);
    font-stretch: 10px;
    letter-spacing: 2px;
}
.jumbo .container .wrapper .jumbo__box h5 {
    font-size: var(--font-size20);
    padding: 5px 0px 10px;
    color: var(--para-dark-h2);
}
.jumbo .container .wrapper .jumbo__box h5 span {
    background: var(--text-suppot);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.jumbo .container .wrapper .jumbo__box .btn-setting {
    padding: 17px 50px 17px 17px !important;
    width: 230px;
    border: 3px solid var(--pure-white);
    color: var(--pure-white);
    font-size: var(--font-size18);
    text-align: left;
    border-radius: 30px;
    text-transform: capitalize;
    outline: none;
    box-shadow: none;
    position: relative;
    cursor: pointer;
    background: var(--dark-blue-op);
    transition: 0.5s ease-in-out;
}
.jumbo .container .wrapper .jumbo__box .btn-setting:hover {
    background: var(--m-hover-button);
    transform: translateY(-3px);
    box-shadow: var(--box-shadow);
}
.jumbo .container .wrapper .jumbo__box .btn-setting span {
    position: absolute;
    top: 19px;
    right: 23px;
    padding: 4px 12px;
    transition: 0.5s ease-in-out;
}
.jumbo .container .wrapper .jumbo__box .btn-setting span:hover {
    background: var(--softpink);
    color: var(--dark-color);
}

/* ****************************property option modification************************* */
.property__option {
    margin-top: 20px;
  }

/* ****************************residential-part************************* */
.residential{
    margin-top: 20px;
}
    :is(.residential .container .wrapper .contentSection2,.residential .container .wrapper .contentSection3) .mega-menu{
        margin-top: 0px;
        width: 100%;
    }
      .residential .container .wrapper .contentSection3 .mega-menu{
        margin-top: 0px;
        width: 100%;
    }
    .residential .container .wrapper .contentSection3 ul {
        border-bottom: none;
        overflow-y: scroll;
        height: 110px;
      }
      .residential .container .wrapper .contentSection3 ul::-webkit-scrollbar {
        width: 14px;
      }
      .residential .container .wrapper .contentSection3 ul::-webkit-scrollbar-track {
        background: var(--red-main);
      }
      .residential .container .wrapper .contentSection3 ul::-webkit-scrollbar-thumb {
        background: var(--form-bg);
        border-radius: 10px;
        border: 0.2rem solid transparent;
        background-clip: content-box;
      }
      .residential .container .wrapper .contentSection2 ul {
        border-bottom: none;
        overflow-y: scroll;
        height: 110px;
      }
      .residential .container .wrapper .contentSection2 ul::-webkit-scrollbar {
        width: 14px;
      }
      .residential .container .wrapper .contentSection2 ul::-webkit-scrollbar-track {
        background: var(--red-main);
      }
      .residential .container .wrapper .contentSection2 ul::-webkit-scrollbar-thumb {
        background: var(--form-bg);
        border-radius: 10px;
        border: 0.2rem solid transparent;
        background-clip: content-box;
      }
     
    :is(.residential .container .wrapper .contentSection2 ul li a,.residential .container .wrapper .contentSection3 ul li a){
        font-family: var(--montserrat-regular-400-para);
        max-width: 100%;
        display: inline-block;
        color: var(--li-color);
        font-size: var(--font-size16);
        line-height: 20px;
        text-transform: capitalize;
        overflow: hidden;
        background: transparent;
        font-stretch: extra-condensed;
        text-overflow: ellipsis;
        white-space: nowrap;
        transition: 0.5s ease-in-out;
        text-decoration: none;
    }
    :is(.residential .container .wrapper .contentSection2 ul li a,.residential .container .wrapper .contentSection3 ul li a):hover{
        color: var(--m-hover-button);
        background: transparent;
        overflow: hidden;
    }
.residential .container .wrapper .con-ul{
    border-bottom: 1px solid var(--temp-head-col);
}
.residential .container .wrapper ul li a{
    font-family: var(--montserrat-regular-400-para);
    max-width: 100%;
    display: inline-block;
    color: var(--para-dark-h2);
    font-size: var(--font-size20);
    line-height: 20px;
    text-transform: capitalize;
    overflow: hidden;
    font-stretch: extra-condensed;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: 0.5s ease-in-out;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    background: var(--form-bg);
    padding: 5px 15px;
}
.residential .container .wrapper ul li a::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20%;
    height: 10%;
    border-left: 1px dashed var(--pure-white);
    border-top: 1px dashed var(--pure-white);
    transition: 0.5s ease-in-out;
}
.residential .container .wrapper ul li a:hover::before{
    width: 100%;
    height: 100%;
}
.residential .container .wrapper ul li a::after{
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 20%;
    height: 10%;
    border-right: 1px dashed var(--pure-white);
    border-bottom: 1px dashed var(--pure-white);
    transition: 0.5s ease-in-out;
}
.residential .container .wrapper ul li a:hover::after{
    width: 100%;
    height: 100%;
}
.residential .container .wrapper ul li a:hover{
    background: var(--red-main);
    padding: 5px 15px;
    color: var(--pure-white);
}

/* ****************************blogspot************************* */
.blogspot{
    margin-top: 20px;
}
.blogs{
    margin-top: 0px;
    margin-bottom: 20px;
}
.h4-set h4{
    font-family: var(--montserrat-semibold);
    font-size: var(--font-size22);
    color: var(--para-tint-h4);
}

.main-blog li{
    border: 1px solid var(--temp-head-col);
    border-radius: 14px;
    margin: 0px  10px;
    padding: 0px 10px;
    transition: 0.5s ease-in-out;
    text-align: left;
    font-stretch: condensed;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.main-blog li:hover{
    box-shadow: var(--box-shadow);
    border: 1px solid var(--dark-blue-op);
}
.main-blog li > a{
    font-family: var(--montserrat-regular-400-para);
    font-size: var(--font-size16);
    text-transform: capitalize;
    color: var(--li-color);
    position: relative;
    text-decoration: none;
    
}
.main-blog li > a::before{
    position: absolute;
    top: 0px;
    left: 0px;
    transition: 0.5s ease-in-out;
    opacity: 0;
    border-bottom: 2px solid var(--red-main);
}
.main-blog li > a:hover::before{
    opacity: 1;
}

.map{
    width: 100%;
    margin-top: 20px;
 }
 .form-smartdeal{
    margin-top: 20px;
    margin-bottom: 10px;
    background: var(--softpink);
 }
 .form-setting{
    padding: 20px 0px;
 }
 .form-focus:focus{
    box-shadow: var(--box-shadow) !important;
    border-color: none;
    border: none;
    border-radius: 15px;
    outline: none;
 }







