/* .ui-state-active,.ui-widget-content.ui-state-active,.ui-widget-header.ui-state-active,a.ui-button:active,.ui-button:active,.ui-button.ui-state-active:hover{
    color: #fff !important;
}
.ui-icon-plus{
    background-position: -65px -16px;
}
.ui-icon-minus{
    background-position: -65px -16px;
} */
/* .ui-icon, .ui-widget-content .ui-icon{
    background: url("../IMAGES/ICON/plus-icon.png") no-repeat;
    background-size: 100% 100%;
} */
/* .ui-icon-circle-minus{
    font-size: 30px !important;
} */
/* .ui-accordion-header-icon.ui-icon.ui-icon-circle-minus,
.ui-accordion-header-icon.ui-icon.ui-icon-circle-plus{
    font-size: 30px !important;
    display: block;
} */
/* .plusminus{
    background: var(--pure-blue-op) !important;
    color: var(--pure-white) !important;
    font-size: var(--font-size22) !important;
    border: 3px solid var(--pure-blue-op);
    border-radius: 50%;
    display: none;
    float: right;
    transition: 0.5s ease-in-out;
} */
/* .ui-accordion .ui-accordion-header.plus-adjust{
    display: block;
} */


 
@media(max-width:1199px){
 
 
    .bottomHead{
       position: fixed;
       top: 0;
       left: 0;
       height: 60px;
       background:var(--heading-support);
       box-shadow:var(--box-shadow) ;
       border-radius: 4px;
       width: 100vw;
       display: flex;
       justify-content: space-between;
       z-index: 80;
       padding: 6px 40px;
    }
   
    .bottomHead .container .wrapper .logo{
        flex: 0 0 270%;
    }
    .bottomHead .container .wrapper .logo a img{
       width: 220px !important;
       float: right;
       margin-bottom: 10px;
    }
 
    .bottomHead .container .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        line-height: 60px;
        height: 60px !important;
    }
    .bottomHead .container .wrapper .burger {
        position: absolute;
        z-index: 99;
        top: 8px;
        left: 14px;
        background: transparent;
        cursor: pointer;
        border: none;
    }
    .mobile-nav-icon{
        font-size: var(--font-size29) !important;
        padding-left: 20px;
        color: var(--pure-white);
    }
   
    .mobile-nav-icon[name="close-outline"]{
      display: none;
    }
     .load{
        background:var(--para-shade-op);
    }
    
        .bottomHead .megastar{
        position: relative;
        max-width: 350px;
        width: 100%;
        height: auto;
        z-index: 82;
        top: -56px;
        left: -40px;
        background: var(--pure-white);
        transform: translateX(-110%); 
        transition: 0.5s ease-in-out; 
       opacity: 0;
        visibility: hidden;
        pointer-events: none;
       }
       .bottomHead .megastar.active{ 
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
        pointer-events: auto; 
        } 
        .mega-menu,
.mega__sub {
	margin-top: 0;
	margin-bottom: 0;
	/* padding: 15px; */
	list-style-type: none;
}

.mega-menu {
	position: relative;
	/* width: 400px; */
	background-color:var(--pure-white);
	overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    /* height: auto; */
    /* margin-top: -21px; */
    height: 100vh;
}

.mega__item + .mega__item {
	margin-top: 23px;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--softpink);
}
.mega__item + .mega__item:nth-child(12) {
    border-bottom: 0;
}
.mega__item + .mega__item:nth-child(13) {
    border-bottom: 0;
}
.badge-wrapper{
    font-family: var(--roboto-bold-sub-heading);
    background: var(--red-main);
    color: var(--pure-white);
    padding: 4px 12px;
    font-size: var(--font-size12);
    border-radius: 10px;
    text-transform: capitalize;
    letter-spacing: 1px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    margin-right: 27px;
}
.badge-wrapper:hover{
    background: var(--dark-blue-op);
    color: var(--pure-white);
}
.wrapped-badge{
    margin-right: 45px;
}
.badge-wrap{
    margin-right: 88px;
    padding: 2px 7px;
}

.mega__item h4 sub{
    position: absolute;
    bottom: 11px;
    font-size: var(--font-size17);
    right: 97px;
}

.mega__item h4:hover{
    /* background: var(--m-hover-button); */
    color: var(--pure-white) !important;
}


.mega__link {
    color: var(--li-color);
	text-decoration: none !important;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* line-height: 1; */
    transition:0.5s ease-in-out;
    padding: 0px 20px;
    font-size: var(--font-size20);
    width: 100%;
}
.mega__link::after {
    content: '';
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0px;
    background: var(--softpink);
    bottom: 0px;
}
.mega__link:hover {
    color: var(--red-main);
}

.mega__sub {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: currentColor;
	opacity: 0;
	visibility: hidden;
	transition: all 0.35s ease-in-out;
	transform: translateX(100%);
	
	&.is-active {
		opacity: 1;
		visibility: visible;
		transform: translateX(0%);
	}
}
.accordion .btn {
    padding: 0;
    border: 0;
  }

.center__div{
    margin-top: 50px;
}
.center__div p a{
font-size: var(--font-size18);
text-decoration: none;
color: var(--li-color);
padding-bottom: 2px;
text-transform: capitalize;
position: relative;
transition: 0.5s ease-in-out;
}

.center__div ul li{
    line-height: 2;
}
.center__div ul li a{
font-size: var(--font-size22);
text-decoration: none;
color: var(--li-color);
padding-bottom: 2px;
text-transform: capitalize;
position: relative;
transition: 0.5s ease-in-out;
}

.center__div ul li a:hover{
    color: var(--red-main);
}
.center__div ul li a span{
    position: absolute;
    top: 0px;
    right: -54px;
}
.signup-section{
    display: flex;
}
.signup-section .sign{
    color: var(--dark-color);
    font-family: var(--montserrat-extra-bold-800-sub-heading);
    font-size: var(--font-size15);
    font-weight: bold;
    letter-spacing: 1px;
}
  
.button2 {
    font-family: var(--montserrat-regular-400-para);
    line-height: var(--line-height12);
    letter-spacing: 0.04em;
    width: 180px;
    border-radius: 20px;
    font-size: var(--font-size16);
    background: var(--red-main);
    color: var(--pure-white);
    border: 1px solid var(--para-tint);
    text-align: left;
    transition: 0.5s ease-in-out;
    margin: 10px 0px;
   }
   .button2:hover {
    background: var(--dark-blue-op);
    font-family: var(--montserrat-semibold-600-extra);
    transform: translateY(2px);
    color: var(--pure-white);
    border:none !important;
    outline: none;
   }
   
   .light-color{
    background-color: var(--temp-head-col);
   }
   .img-top-left-head {
    height: 70px;
   }
   .logo-section{
    margin-top: 111px;
   }
.badge-set{
    right: 6px;
    padding: 0px 8px;
    box-sizing: border-box;
    font-size: var(--font-size12);
}
.font_adjust{
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 0px 20px;
    font-size: var(--font-size29);
}
.badge__head{
    top: 68% !important;
    right: 50px !important;
}

.ui-icon-plus{
    background-position: -65px -16px;
}
.ui-icon-minus{
    background-position: -65px -16px;
}
/* *******************accordian H4*************************** */
.ui-accordion .ui-accordion-header{
    font-family: var(--montserrat-bold-700-sub-heading);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size24) !important;
    margin-top: 10px;
    flex-direction: row-reverse;
    margin-bottom: 20px;
    background-color: var(--softpink);
    margin-left:15px;
    border-radius: 16px;
    margin-right: 15px;
    padding: 10px 16px 10px 16px;
    cursor: pointer;
    border: 1px solid var(--pure-white);
    color:var(--dark-color);
    transition: 0.5s ease-in-out;
    text-transform: capitalize;
}
.ui-accordion .ui-accordion-header.active,.ui-accordion .ui-accordion-header:hover{
    background: var(--dark-blue-op);
    color: var(--pure-white);

}
.ui-accordion .ui-accordion-content{
    padding: 1rem;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 7px;
}
.accordion__body {
	display: none;
	padding: 1em;
	border: 1px solid #ccc;
	border-top: 0;
    box-sizing: border-box;
}
.accordion__div ul li a{
    font-family: var();
    font-size: var(--font-size16);
    text-transform: capitalize;
    color: var(--pure-white);
    padding-bottom: 5px;
    position: relative;
    display: flex;
} 

.accordion__body.is-activee {
	display: block;
}
 
 
.button{
    text-align: left;
    display: block;
}

}
@media(max-width:1024px){
    .contentSection ul li a{
        font-size: var(--font-size17);
        line-height: var(--line-height21);
        color: var(--li-color);
    }
}
@media(max-width:992px){
    .h4-set h4{
        text-align: center;
        font-weight: bold;
    }
    .bottomline button{
        padding: 5px 10px !important;
        margin: 10px 3px;
    }
    .selectSection2 button{
        font-size: var(--font-size16);
    }
    
}
@media(max-width:768px){
    .mega__link{
        line-height: 2;
    }
    .mega-menu{
        margin-top: 0px;
    }
    .contentSection ul li a{
        font-size: var(--font-size16);
    }
    .bottomline button{
        padding: 5px 6px !important;
    }
    .four-grid-template-column{
        gap: 0px 20px !important;
    }
   
}

@media(max-width:576px){
    .residential .container .wrapper ul li a{
        padding: 0px !important;
        font-size: var(--font-size13)!important;
        line-height:var(--line-height30) !important;;
    }
    .selectSection2{
        justify-content: center !important;
    }
    .main-blog li > a{
        font-size: var(--font-size14);
    }
    .h4-set h4{
        font-size: var(--font-size20);
    }
    .h2-set{
        font-size: var(--font-size24);
     }
    .selectSection button{
        font-size: var(--font-size16);
    }
    .contentSection ul li a{
        font-size: var(--font-size14);
    }
    .bottomHead{
        height: 50px;
    }
    .mega-menu{
        margin-top: -19px;
        height: 103vh;
        width: 300px;
    }
    .bottomHead .megastar{
        max-width: 250px;
    }
    .mobile-nav-icon[name="close-outline"]{
        padding-left: 280px !important;
    }
.mega__link{
    font-family: var(--montserrat-semibold-600-extra);
    padding: 12px 10px;
    font-size: var(--font-size18);
    line-height: 1;
}
.signup-section .sign {
 font-size: var(--font-size10);
 padding: 6px 0px;   
}
.signup-section .sign{
    margin-top: 12px;
}

.mega__item{
    margin-top: 30px;
}
.mega__item + .mega__item{
    margin-top: 13px;
}
.button2{
    width: 86px;
    margin: 10px 0px;
}
.badge-wrapper{
    padding: 4px 8px;
    font-size: var(--font-size9);
}
.wrapped-badge {
    margin-right: 22px;
}
.badge-wrap {
    margin-right: 66px;
    padding: 2px 7px;
}
.ui-accordion .ui-accordion-header{
    margin: 10px 7px;
    font-size: var(--font-size17) !important;
    padding: 6px 16px 6px 16px;
}
.ui-accordion .ui-accordion-content{
    margin: 0px  7px;
    padding: 6px;
}
.center__div ul li a{
    font-size: var(--font-size15);
}
.badge-set{
    font-size: var(--font-size9);
}
.mega__item h4 sub{
    font-size: var(--font-size10) !important;
    right: 123px !important;

}
.logo img{
    max-width: 220px;
    padding: 7px 17px 0px;
}
.mobile-nav-icon{
    font-size: var(--font-size20) !important;
}
.button {
    font-size: var(--font-size10)!important;
    padding: 4px 10px !important;
    letter-spacing: 0px;
    width: 108px;
} 
.selectSection button{
    margin-left: 5px;
    margin-right: 5px;
}
/* ******************slider action****************** */
.slider .slick-prev{
    left: -32px !important;
    width: 30px !important;
    height: 30px !important;
}
.slider .slick-next{
    right: -32px !important;
    width: 30px!important;
    height: 30px!important;
}
.slider .slick-next:before, .slider .slick-prev:before{
    font-size: var(--font-size17) !important;
}
.slider2 .slick-prev{
    left: -32px !important;
    width: 30px !important;
    height: 30px !important;
}
.slider2 .slick-next{
    right: -32px !important;
    width: 30px!important;
    height: 30px!important;
}
.slider2 .slick-next:before, .slider2 .slick-prev:before{
    font-size: var(--font-size17) !important;
}
}
@media(max-width:360px){
 
    .main-blog li > a{
        font-size: var(--font-size12);
    }
    .h4-set h4{
        font-size: var(--font-size17);
    }
    .h2-set{
        font-size: var(--font-size20);
     }
    .contentSection ul li a{
        font-size: var(--font-size11);
    }
    .bottomHead{
        height: 66px;
        align-items: center;
        /* padding: 6px 10px; */
     }
     .mega__item h4 sub {
        font-size: var(--font-size11) !important;
        right: 72px !important;
    }
    
     .wrapper{
        flex-wrap: wrap;
     }
     .bottomHead .container .wrapper .logo a img{
        margin-left: 30px;
     }
    .mobile-nav-icon[name="close-outline"]{
        padding-left: 222px !important;
    }
    .mega-menu{
        width: 250px;
        height: 101vh;
    }
    .mega__item{
        margin-top: 0px;
    }
    .button{
        font-size: var(--font-size9) !important;
        width: 77px;
        padding: 3px 6px !important;
    }
    .badge-set{
        font-size: var(--font-size8);
        top: 3px;
        right: 1px;
        padding: 0px 10px;
    }
    .center__div ul li a{
        font-size: var(--font-size16);
    }
    .font_adjust{
        margin-top: 30px;
    }
    .additional-h2{
        font-size: var(--font-size18);
    }
    .bottomline button{
        padding: 3px 5px !important;
        font-size: var(--font-size11);
    }
    .residential .container .wrapper ul li a{
        font-size: var(--font-size10) !important;
        line-height: var(--line-height28)!important;
    }
}
