.slider .slick-next:before,
.slider .slick-prev:before,
.slider2 .slick-next:before,
.slider2 .slick-prev:before,
.slider4 .slick-next:before,
.slider4 .slick-prev:before,
.slider5 .slick-next:before,
.slider5 .slick-prev:before,
.slider6 .slick-next:before,
.slider6 .slick-prev:before,
.slider7 .slick-next:before,
.slider7 .slick-prev:before,
.slider9 .slick-next:before,
.slider9 .slick-prev:before,
.slider10 .slick-next:before,
.slider10 .slick-prev:before,
.slider11 .slick-next:before,
.slider11 .slick-prev:before {
  font-family: "fontawesome";
  font-size: var(--font-size30);
  color: var(--pure-white) !important;
  font-weight: bolder;
  top: 45%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
}

.slider .slick-next:hover:before,
.slider .slick-prev:hover:before,
.slider2 .slick-next:hover:before,
.slider2 .slick-prev:hover:before,
.slider4 .slick-next:hover:before,
.slider4 .slick-prev:hover:before,
.slider6 .slick-next:hover:before,
.slider6 .slick-prev:hover:before,
.slider7 .slick-next:hover:before,
.slider7 .slick-prev:hover:before,
.slider9 .slick-next:hover:before,
.slider9 .slick-prev:hover:before,
.slider10 .slick-next:hover:before,
.slider10 .slick-prev:hover:before,
.slider11 .slick-next:hover:before,
.slider11 .slick-prev:hover:before  {
  left: 55%;
}

.slider .slick-next,
.slider2 .slick-next,
.slider4 .slick-next,
.slider5 .slick-next,
.slider6 .slick-next,
.slider7 .slick-next,
.slider9 .slick-next,
.slider10 .slick-next,
.slider11 .slick-next {
  right: -43px !important;
  top: 10px;
  background: var(--dark-blue-op) !important;
  box-shadow: var(--box-shadow) !important;
  width: 40px!important;
  height: 40px!important;
  border-radius: 50%;
  text-align: center;
  border-left: 1px solid var(--dark-blue-op);
  transition: 0.5s ease-in-out;
}

.slider .slick-next:hover,
.slider2 .slick-next:hover,
.slider4 .slick-next:hover,
.slider5 .slick-next:hover,
.slider6 .slick-next:hover,
.slider7 .slick-next:hover,
.slider9 .slick-next:hover,
.slider10 .slick-next:hover,
.slider11 .slick-next:hover {
  background: var(--red-main) !important;
}

.slider .slick-prev:hover .main-blog li a,
.slider .slick-prev.active .main-blog li a,
.slider2 .slick-prev:hover .main-blog li a,
.slider2 .slick-prev.active .main-blog li a,
.slider4 .slick-prev:hover .main-blog li a,
.slider4 .slick-prev.active .main-blog li a,
.main-blog li:hover a,
.main-blog li:active a {
  overflow-x: hidden;
  z-index: -111;
}

.slider .slick-prev,
.slider2 .slick-prev,
.slider4 .slick-prev,
.slider5 .slick-prev,
.slider6 .slick-prev,
.slider7 .slick-prev,
.slider9 .slick-prev,
.slider10 .slick-prev,
.slider11 .slick-prev {
  left: -43px !important;
  background: var(--dark-blue-op) !important;
  box-shadow: var(--box-shadow) !important;
  width: 40px!important;
  height: 40px!important;
  top: 10px;
  border-right: 1px solid var(--dark-blue-op);
  transition: 0.5s ease-in-out;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  z-index: 2;
}

.slider .slick-prev:hover,
.slider2 .slick-prev:hover,
.slider4 .slick-prev:hover,
.slider5 .slick-prev:hover,
.slider6 .slick-prev:hover,
.slider7 .slick-prev:hover,
.slider9 .slick-prev:hover,
.slider10 .slick-prev:hover,
.slider11 .slick-prev:hover {
  background: var(--red-main) !important;
}

/* slider4 specific */
.slider4 .slick-next {
  top: 170px;
}

.slider4 .slick-prev {
  top: 170px;
}
/* slider5 specific */
.slider5 .slick-next {
  top: 170px;
}

.slider5 .slick-prev {
  top: 170px;
}
/* slider5 specific */
.slider6 .slick-next {
  top: 200px;
  left: 97%;
}

.slider6 .slick-prev {
  top: 200px;
  left: -6px !important;
}
/* slider7 specific */
.slider7 .slick-next {
  top: 200px;
  left: 97%;
}

.slider7 .slick-prev {
  top: 200px;
  left: -6px !important;
}
/* slider9 specific */
.slider9 .slick-next {
  top: 200px;
  left: 97%;
}

.slider9 .slick-prev {
  top: 200px;
  left: -6px !important;
}
/* slider10 specific */
.slider10 .slick-next {
  top: 200px;
  left: 97%;
}

.slider10 .slick-prev {
  top: 200px;
  left: -6px !important;
}
/* slider11 specific */
.slider11 .slick-next {
  top: 167px;
  left: 97%;
}

.slider11 .slick-prev {
  top: 167px;
  left: -6px !important;
}
.slick-dots li{
  margin: 0 2px !important;
}
.slick-dots li button:before{
  background: var(--red-main);
  font-size: var(--font-size42) !important;
  border-radius: 50%;
  color: var(--pure-white) !important;
  /* margin-top: -30px; */
}
.slick-dots{
  bottom: -21px !important;
  padding-bottom: 20px;
  display: flex !important;
  justify-content: center;
  align-items: center;

}
.modal2{
  width: 600px !important;
  height: 400px;
  padding-right: 0px !important;
  margin-right: 20px;
}
.modal-backdrop {
  display: none !important;
}
@media(max-width:1199px){}
@media(max-width:1024px){
  .slider4 .slick-prev, .slider4 .slick-prev, .slider4 .slick-prev,
  .slider5 .slick-prev, .slider5 .slick-prev, .slider5 .slick-prev{
      left: -1% !important;
  }
  .slider4 .slick-next, .slider4 .slick-next, .slider4 .slick-next,
  .slider5 .slick-next, .slider5 .slick-next, .slider5 .slick-next{
      right: -1% !important;
  }
}
@media(max-width:992px){
  .slider4 .slick-prev,
  .slider5 .slick-prev{
      top: 222px !important;
  }
  .slider4 .slick-next,
  .slider5 .slick-next{
      top: 222px !important;
  }

  .slider6 .slick-prev,
  .slider7 .slick-prev,
  .slider9 .slick-prev,
  .slider10 .slick-prev,
  .slider11 .slick-prev{
    left: 0px !important;
  }
  .slider6 .slick-next,
  .slider7 .slick-next,
  .slider9 .slick-next,
  .slider10 .slick-next,
  .slider11 .slick-next{
    left: 95% !important;
  }
  .slider .slick-next, 
  .slider2 .slick-next, 
  .slider4 .slick-next, 
  .slider5 .slick-next, 
  .slider6 .slick-next, 
  .slider7 .slick-next,
  .slider9 .slick-next,
  .slider10 .slick-next,
  .slider11 .slick-next{
    right: -12px !important;
  }
}
@media(max-width:768px){
.slider .slick-prev, 
.slider2 .slick-prev, 
.slider4 .slick-prev,
.slider6 .slick-prev,
.slider7 .slick-prev,
.slider9 .slick-prev,
.slider10 .slick-prev,
.slider11 .slick-prev {
    left: -32px !important;
    width: 30px !important;
    height: 30px !important;
}
.slider .slick-next, 
.slider2 .slick-next, 
.slider4 .slick-next,
.slider6 .slick-next,
.slider7 .slick-next,
.slider9 .slick-next,
.slider10 .slick-next,
.slider11 .slick-next  
 {
    right: -32px !important;
    width: 30px!important;
    height: 30px!important;
}
.slider .slick-next:before, 
.slider .slick-prev:before, 
.slider2 .slick-next:before, 
.slider2 .slick-prev:before, 
.slider4 .slick-next:before, 
.slider4 .slick-prev:before,
.slider6 .slick-next:before, 
.slider6 .slick-prev:before,
.slider7 .slick-next:before, 
.slider7 .slick-prev:before,
.slider9 .slick-next:before, 
.slider9 .slick-prev:before,
.slider10 .slick-next:before, 
.slider10 .slick-prev:before,
.slider11 .slick-next:before, 
.slider11 .slick-prev:before{
    font-size: var(--font-size17) !important;
}
.slider4 .slick-prev,
.slider4 .slick-next
 {
    top: 222px !important;
}
.slider6 .slick-prev,
.slider6 .slick-next,
.slider7 .slick-next,
.slider9 .slick-next,
.slider10 .slick-next,
.slider11 .slick-next{
    top: 197px !important;
}
.slider4 .slick-prev
{
    left: -1px !important;
}
.slider6 .slick-prev,
.slider7 .slick-prev,
.slider9 .slick-prev,
.slider10 .slick-prev{
    left: 10px !important;
}
.slider4 .slick-next
{
    right: -1px !important;
}
.slider6 .slick-next,
.slider7 .slick-next,
.slider9 .slick-next,
.slider10 .slick-next{
    left: 86% !important;
}

}
@media(max-width:576px){}
@media(max-width:360px){

}



